# ephys for Python 3 with basic working environment
# Used by make_env.sh

# development utilities
black>=24.10.0
flake8==7.0.0
Pint>=0.24.4
isort>=5.13.2
mypy==1.13.0
sphinx==8.2.3
sphinx-automodapi
sphinx-rtd-theme
pytest

refurb==1.13.0
jupyterlab>=4.4.0
# plotnine>=0.9.0
pyperclip
pytest==7.3.1
gitpython
Cython==3.0.12
dill==0.3.8
# efel>=3.0.93 
# envisage==4.7.2
colorcet
colormaps==0.4.2
termcolor
jinja2==3.1.6
python-docx==1.1.0  # for writing Word docx files. Maybe used by associated programs

pyabf==2.3.8  # for reading axon binary files
meegkit==0.1.9 # some filtering and baseline adjustments translated from Python originally from Alain de Cheveigné 
lmfit==1.3.3
obspy==1.4.1  # for resampling and filtering

matplotlib>=3.10.0
matplotlib-scalebar>=0.8.1
MetaArray==2.1.1
nose==1.3.7
numba==0.61.2
numpy>=2.2
pandas>=2.2.3
pandas_parallel_apply==2.2
pyarrow==19.0.0
openpyxl
XlsxWriter>=3.0
psutil==5.6.7
pyparsing==3.2.3
tables==3.10.2
pypdf
pingouin==0.5.4
python-statemachine
resampy==0.4.3
scipy>=1.15.2
seaborn
statsmodels==0.14.4
scikit_posthocs==0.9.0
sympy
shapely 
deepdiff

pyqt6
pyqt6-sip
pyqtgraph==0.13.7
pyqt6-webengine

seaborn>=0.13.2
tifffile==2024.06.18


# specific for Allen SDK:
ruamel.yaml<1,>=0.15
imageio>=2.37  # scikit image
networkx>=2.0  # scikit image
PyWavelets>=1.6.0  # scikit image
nest_asyncio==1.2.0  # allensdk 2.11.2
# jinja2<2.12.0,>=2.7.3  # allensdk2.11.2
hdmf>=4.0.0
isodate==0.6.1
#========================
# nwbinspector==0.4.37
xlrd>=1.0.0
# required for 3d display in pyqtgraph
PyOpenGL>=3.1.5
# required for mayavi in neuronvis
# vtk>=9
# tensorflow>=2.17.0
# tensorflow-metal==1.1.0

efel

pylibrary @ git+https://github.com/pbmanis/pylibrary.git#egg=pylibrary
# -e /Users/pbmanis/Desktop/Python/MetaArray
#  nwbinspector @ get+https://github.com/pbmanis/nwbinspector.git@egg=nwbinspector
# -e /Users/pbmanis/Desktop/Python/nwbinspector
nwbinspector>=0.6.3
imreg_dft>=2.0
descartes
#mahotas
#-e git+https://github.com/pbmanis/montager.git@578ba75af12bb2321e377451f35921977656041a#egg=montage
# -e /Users/pbmanis/Desktop/Python/montage
